@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1 class="display-4">Welcome</h1>

<p>
    This project demonstrates using Finbuckle.MultiTenant with ASP.NET Core Identity. See the
    <a href="https://www.finbuckle.com/MultiTenant/Docs/Identity">documentation</a> for more details.
</p>

@if (Model.AppTenantInfo is null)
{
    <h2>There is no tenant selected. Use the menu bar to select a tenant.</h2>

    <p>
        You can register, login, logout, and manage account via the default Identity UI within each tenant. Note that
        even with a shared database a user can register with each tenant and will maintain separate login sessions.
        Finbuckle.MultiTenant makes it appear like separate databases to Identity.
    </p>
    <p>
        A few things to note from this sample:
        <ul>
            <li>
                The ACME and MegaCorp tenants share a common SQLite database.
            </li>
            <li>
                Initech has its own separate datasebase.
            </li>
            <li>
                If needed, the two databases will be created when the application runs.
            </li>
            <li>
                A custom <a href="https://docs.microsoft.com/en-us/ef/core/cli/dbcontext-creation?tabs=dotnet-core-cli#from-a-design-time-factory">design time factory</a>
                is used for <code>dotnet ef</code> commands. It uses a dummy tenant.
            </li>
            <li>
                The sample uses the <a href="https://www.finbuckle.com/MultiTenant/Docs/Strategies#base-path-strategy">BasePathStrategy</a>
                with the <code>RebaseAspNetCorePathBase</code> option enabled. Consequently all static resource urls in
                the layout pages (including for ASP.NET Core Identity) have been modified to absolute urls.
            </li>
        </ul>
    </p>
}
else
{
    <h2>@Model.AppTenantInfo.Name</h2>
    <table class="table">
        <thead>
        <tr>
            <th class="w-25">Property</th>
            <th>Value</th>
        </tr>
        </thead>

        <tbody>
        <tr>
            <td>@nameof(Model.AppTenantInfo.Id)</td>
            <td>@Model.AppTenantInfo.Id</td>
        </tr>
        <tr>
            <td>@nameof(Model.AppTenantInfo.Identifier)</td>
            <td>@Model.AppTenantInfo.Identifier</td>
        </tr>
        <tr>
            <td>@nameof(Model.AppTenantInfo.Name)</td>
            <td>@Model.AppTenantInfo.Name</td>
        </tr>
        <tr>
            <td>@nameof(Model.AppTenantInfo.ConnectionString)</td>
            <td>@Model.AppTenantInfo.ConnectionString</td>
        </tr>
        </tbody>
    </table>
}