<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
</head>
<body>
	<nav class="navbar navbar-expand navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">@ViewBag.Title</a>
            <div class="navbar-nav">
                <a href="@($"{Context.Request.Scheme}://finbuckle.localhost:{Context.Request.Host.Port}")" class="nav-item nav-link">Finbuckle Tenant</a>
                <a href="@($"{Context.Request.Scheme}://initech.localhost:{Context.Request.Host.Port}")" class="nav-item nav-link">Initech Tenant</a>
            </div>
        </div>
    </nav>
    <div class="container mt-5">
        @RenderBody()
    </div>
</body>
</html>
