@model TenantInfo

@{
    ViewData["Title"] = "Fallback Strategy Sample";
}

    <h3 class="mt-4">TenantInfo Values</h3>

    <table class="table">
        <thead>
            <tr>
                <th style="width:25%">Property</th>
                <th>Value</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>@nameof(Model.Id)</td>
                <td>@Model.Id</td>
            </tr>
            <tr>
                <td>@nameof(Model.Identifier)</td>
                <td>@Model.Identifier</td>
            </tr>
            <tr>
                <td>@nameof(Model.Name)</td>
                <td>@Model.Name</td>
            </tr>
            <tr>
                <td>@nameof(Model.ConnectionString)</td>
                <td>@Model.ConnectionString</td>
            </tr>
        </tbody>
    
    </table>

@if(Model.Identifier == "finbuckle")
{
    <div class="jumbotron">
        <h1 class="display-4">Hello, world!</h1>
        <p class="lead">This sample highlights the <a href="https://www.finbuckle.com/MultiTenant/Docs/Strategies#fallback-strategy">fallback multitenant strategy</a>.</p>
        <hr class="my-4">
        <p>
            If the main strategy (in this example a route strategy) fails to resolve a tenant with the tenant store,
            the fallback strategy will try to resolve a tenant using the &quot;finbuckle&quot; identifier.
        </p>
        <p>
            Configuration in <code>Startup.cs</code>:
        </p>
        <pre><code>
services.AddMultiTenant()... // Set up a store...
    WithFallbackStrategy("finbuckle").
    WithRouteStrategy(...); // Assume routes configured...
<code></pre>
        <p>Click the links on the navbar to see it in action!</p>
    </div> 
}