@page "/counter"
@using Services
@using Finbuckle.MultiTenant
@using Microsoft.AspNetCore.Http
@using Microsoft.Extensions.Options
@inject IHttpContextAccessor httpContextAccessor
@inject CustomService customService
@inject IOptions<CustomOptions> optionsAccessor

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>
<button class="btn btn-primary" @onclick="GetOptions">Options</button>

@{
    //Try get TenantInfo from HttpConext.
    GetTenantInfo();

    @if (tenantInfo != null)
    {
        <h2>Tenant Info</h2>
        <ul>
            <li>Identifier: @tenantInfo.Identifier</li>
            <li>Id: @tenantInfo.Id</li>
            <li>Name: @tenantInfo.Name</li>
        </ul>
    }

    @if (this.serviceCustomOptions != null)
    {
        <h2>Custom Options from service</h2>
        <ul>
            <li>Value 1: @this.serviceCustomOptions.Value1</li>
            <li>Value 2: @this.serviceCustomOptions.Value2</li>
        </ul>
    }

    @if (this.componentCustomOptions != null)
    {
        <h2>Custom Options from component</h2>
        <ul>
            <li>Value 1: @this.componentCustomOptions.Value1</li>
            <li>Value 2: @this.componentCustomOptions.Value2</li>
        </ul>
    }
}
@code {
    private int currentCount = 0;

    private CustomOptions serviceCustomOptions;
    private CustomOptions componentCustomOptions;

    private void IncrementCount()
    {
        currentCount++;
    }

    private async void GetOptions()
    {
        this.componentCustomOptions = this.optionsAccessor.Value;

        this.serviceCustomOptions = await this.customService.GetOptionsAsync();
    }

    TenantInfo tenantInfo;

    bool GetTenantInfo()
    {
        //if (httpContextAccessor.HttpContext.GetMultiTenantContext().TenantInfo != null)
        //{
        //    tenantInfo = httpContextAccessor.HttpContext.GetMultiTenantContext().TenantInfo;
        //    return true;
        //}
        //else
        //{
        //    return false;
        //}
        return false;
    }
}
